@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Vazirmatn:wght@100..900&display=swap');

@tailwind base;
@tailwind components;

.font-vazirmatn {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-vazirmatn-bold {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}


@tailwind utilities;